<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org" xmlns: layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"></meta>
</head>
<body>
<div th:fragment="createNew_contents">
    <div class="row">
        <div class="col-sm-5">
            <div class="page-header">
                <h1>連絡 新規作成</h1>
            </div>
            <form method="post" th:action="@{/createNew}" th:object="${createNewForm}">
                <table class="table table-bordered table-hover">
                    <tr>
                        <!-- ユーザーID（入力不可） -->
                        <th class="active col-sm-1">タイトル</th>
                        <td class="col-sm-3">
                            <div class="form-group">
                                <input type="text" class="form-control" th:field="*{title}" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <!-- パスワード -->
                        <th class="active">内容</th>
                        <td>
                            <div class="form-group" th:classappend="${#fields.hasErrors('text')} ? 'has-error'">
                                <!--input type="text" class="form-control" th:field="*{text}" /-->
                                <textarea type="text" class="form-control" rows="5" th:field="*{text}"></textarea>
                                <span class="text-danger" th:if="${#fields.hasErrors('text')}" th:errors="*{text}">text error</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <!-- ユーザー名 -->
                        <th class="active">投稿者</th>
                        <td>
                            <div class="form-group" th:classappend="${#fields.hasErrors('contributor')} ? 'has-error'">
                                <input type="text" class="form-control" th:field="*{contributor}" />
                                <span class="text-danger" th:if="${#fields.hasErrors('contributor')}" th:errors="*{contributor}">contributor error</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <!-- 誕生日 -->
                        <th class="active">制作日</th>
                        <td>
                            <div class="form-group" th:classappend="${#fields.hasErrors('createDate')} ? 'has-error'">
                                <input type="text" class="form-control" placeholder="yyyy/MM/dd" th:field="*{createDate}" />
                                <span class="text-danger" th:if="${#fields.hasErrors('createDate')}" th:errors="*{createDate}">createDate error</span>
                            </div>
                        </td>
                    </tr>
                </table>
                <!-- 更新ボタン -->
                <button class="btn btn-primary btn-lg" type="submit">投稿</button>

            </form>
        </div>
    </div>
</div>
</body>
</html>