<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymleaf.org" xmlns: layout="http://www.ultraq.net.nz/thymeleaf/layout">
<link>
    <meta charset="UTF-8">
    <link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"rel="stylesheet"></link>
    <script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>

    <link th:href="@{/css/home.css}" rel="stylesheet"></link>
    <title>Home</title>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <form method="post" th:action="@{/pmps}">
            <!--a class="navbar-brand">ProjectMemberPortalSite</a-->
                <button class="btn btn-link pull-right navbar-brand" type="submit">ProjectMemberPortalSite</button>
            </form>
        </div>
        <form method="post" th:action="@{/logout}">
            <button class="btn btn-link pull-right navbar-brand" type="submit">ログアウト</button>
        </form>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2 sidebar" >
            <ul class="nav nav-pills nav-stacked" ><br/>
                <li role="presentation" ><a th:href="@{'/userList'}"><!--a th:href="@{'/userDetail/'+${userList.userId}}"--><span class="glyphicon glyphicon-user" aria-hidden="true"></span>　ユーザー情報</a></li>
                <li role="presentation"><a th:href="@{'/contactList'}"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>　連絡一覧</a></li>
                <li role="presentation"><a href="https://portal.mc.chitose.ac.jp/portal/?0" target="_blank"><span class="glyphicon glyphicon-book" aria-hidden="true"></span>　CISTポータル</a></li>
                <li role="presentation"><a th:href="@{'/admin'}"><span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>　ユーザー管理</a></li>
            </ul>
    </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-2 main">
            <div th:include="__${contents}__"></div>
        </div>
    </div>
</div>
</body>
</html>