<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymleaf.org">
<head>
<link>
    <meta charset="UTF-8">
    <!--Bootstrapの設定-->
    <link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"rel="stylesheet"></link>
<script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
    <link th:href="@{/css/login.css}" rel="stylesheet">
    <title>Login</title>
</head>
<body class="text-center">
<!--<h2>Login</h2>-->
<div class="form-wrapper">
<h1>ログイン</h1>
<form method="post" action="/login">
    <!--label>ユーザーID</label-->
    <p th:if="${session['SPRING_SECURITY_LAST_EXCEPTION']} != null"
       th:text="${session['SPRING_SECURITY_LAST_EXCEPTION'].message}"
       class="text-danger">
        ログインエラーメッセージ
    </p>
    <div class="form-item">
    <label ></label>
    <input type="text" placeholder="ユーザーID" name="userId"/>

    </div>

    <div class="form-item">
    <label ></label>
    <input type="password" placeholder="パスワード" name="password"/>

    </div>
    <br>

    <div class="button-panel">
    <button class="btn btn-primary btn-block" type="submit">ログイン</button>
    </div>
</form>
<br/>
<!--GetMapping-->
    <div class="form-footer">
<a th:href="@{'/signup'}">アカウント新規作成</a>
    </div>
    </div>
</body>
</html>